<p class="lead">All Posts</p>
<hr/>
<% @post.each do |post| %>
  <div class="row">
    <div class="span8 well">
    <h3><%= link_to post.title, "http://#{post.url}" %></h3>
    <p><%= post.description %></p>
    <span class="quiet">posted by <%= post.user.username %> at <%= post.created_at %> </span>
    <small>
     <span>
        <p><%= "#{post.comments.size} comments" %></p>
     </span>
    </small>
    </div>
  </div>
<% end %>