<p class="lead">Make a new post</p>

<div class="row">
<% if @post.errors.any? %>
  <div class="alert alert-error span8">
    <strong>Fix these errors:</strong>
  <% @post.errors.full_messages.each do |msg| %>
  <ul>
    <li><%= msg %></li>
  </ul>
  <% end %>
  </div>
<% end %>
</div>


<div class="well">
  <%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
  <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
  <% end %>

  <p><%= f.submit "Create Post", :class => "btn btn-primary" %></p>
</div>
<% end %>