<%= render "shared/header", title: @post.title %>

<% @post.categories.each do |category| %>
  <span class="badge">
    <%= category.name %>
  </span>
<% end %>

<div class="span8 well">
<p><%= @post.description %></p>
</div>

<%= render "shared/error", obj: @comment %>

<div class="span8">
<strong>Leave a comment</strong>
<%= form_for [@post, @comment] do |f| %>
<%= f.label :body %>
<%= f.text_area :body, rows: 5, cols: 20 %>
<%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>
</div>

<hr/>

<% @post.comments.reload.each do |comment| %>

<div class="span8 well">
<%= comment.body %>
<p>
  <small>
    <quiet>
      by <%= comment.user.username %> at <%= datetime(comment.created_at) %>
    </quiet>
  </small>
</p>
</div>
<% end %>