<% @post.categories.each do |category| %>
  <span class="badge">
    <%= category.name %>
  </span>
<% end %>

<h3><%= @post.title %></h3>

<div class="well">
<p><%= @post.description %></p>
</div>


<% @post.comments.each do |comment| %>

<div class="span8 well">
<p>
  <small>
    <quiet>
      <%= comment.user.username %>
    </quiet>
  </small>
</p>
<%= comment.body %>
</div>
<% end %>